
@{
    ViewBag.Title = "WhySubscribe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="Rectangle-2" style="background:#fff;margin-top:80px">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <br />
                    <div class="I-love-the-way-sCoo center-block">“I love the way sCoolMeal has changed my mornings. I have a lot more productive time now!”</div>
                </div>
                <div class="col-md-2"></div><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="Mr-Kamal-Riyas center-block">
                    <p>- Mr. Kamal, Riya’s Dad</p>
                    <span style="font-size:20px">Army Public School</span>
                </div><br />
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:100px;">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 ">
                    <div class="img ">
                        <img src="~/Images/Nutrition Focused@3x.png" class="img-responsive center-block " style="height:50px;width:50px;" />
                    </div>
                    <br />
                    <div class="Completely-vegetaria">
                        <p>nutriGENIUS Meals</p>
                    </div>
                    <div class="The-collapse-of-the center-block">
                        <p>
                            Balanced meals<br />
                            Designed by nutritionists<br />
                            Just for YOUR child
                        </p>
                    </div>

                </div>
                <div class="col-md-3 ">
                    <div class="img ">
                        <img src="~/Images/Superfood@3x.png" class="img-responsive center-block " style="height:50px;width:50px;" />
                    </div>
                    <br />
                    <div class="Completely-vegetaria">
                        <p>SUPER-foods!</p>
                    </div>
                    <div class="The-collapse-of-the center-block">
                        <p>
                            Quinoa upma<br />
                            Chia seeds in halwa<br />
                            Foxtail millet noodles
                        </p>
                    </div>

                </div>
                <div class="col-md-3">

                    <div class="img ">
                        <img src="~/Images/Incubation@3x.png" class="img-responsive center-block" style="height:50px;width:50px;" />
                    </div>
                    <br />
                    <div class="center-block" style="text-align:center;">
                        <p class="Completely-vegetaria"> Incubatee at CFTRI-KBITS</p>
                        @*<span style="font-size:10px;">(Central Food Technological Research Institute, Mysore)</span>*@
                    </div>

                    <div class="The-collapse-of-the center-block">
                        <p>
                            Scientists engineering menus<br />
                            To make Healthy --> YUMMY
                        </p>
                    </div>

                </div>
                <div class="col-md-3 ">
                    <div class="img ">
                        <img src="~/Images/Sun@3x.png" class="img-responsive center-block " style="height:50px;width:50px;" />
                    </div>
                    <br />
                    <div class="Completely-vegetaria">
                        <p>Hassle free mornings</p>
                    </div>
                    <div class="The-collapse-of-the center-block">
                        <p>
                            Spend time with your child and yourself<br />
                            Packing lunch?-> Leave it to us
                        </p>
                    </div>

                </div>
            </div>
        </div>


    </div><br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">

                <p class="I-love-the-way-sCoo center-block">
                    sCoolMeal fan feedback .
                </p>
                <br />


            </div><!--.col -->

            <div class="vid text-center">
                <iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/MBn3T1GO-Ac?rel=0&amp;amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=MBn3T1GO-Ac" width="400" height="300" frameborder="0" allowfullscreen=""></iframe>
                @*<h4>Why she loves the yummy meals </h4>*@
            </div><!--./vid -->



        </div><!--./row -->

    </div>
    <br />
    <div class="row center-block">
        <div class="col-md-12">
            <div class=" As-seen-on center-block" style="text-align:center">As seen on</div>
        </div>
    </div>
    <br />
    <div class="row" style="background:#fff; height:auto">
        <div class="col-md-12">
            <div class="col-md-1"></div>
            <div class="col-md-10 ">
                <div class="row">
                    <div class="col-md-4 text-center ">
                        <br />
                        <div class="img img-responsive">
                            <a style="text-align:center" href="https://www.google.co.in/amp/m.timesofindia.com/business/india-business/nutri-choice-now-your-school/amp_articleshow/57089565.cms" target="_blank">
                                <img src="~/Images/The_Times_Group.svg.png" alt="The_times_grp" class="The_Times_Groupsvg" />
                                <br />
                                <img src="~/Images/times_of_india.png" class="px-The_times_of_indiasvg" style="height:65.5px" />

                            </a>
                        </div>
                        <div class="img img-responsive">
                            <a style="text-align:center" href="https://www.google.co.in/amp/indianexpress.com/article/lifestyle/food-wine/bengaluru-based-scoolmeal-is-offering-healthy-tasty-nutritious-meals-to-school-kids/lite/" target="_blank">

                                <img src="~/Images/indian-express.png" alt="indian_express" class="Indian-Express " /><br />

                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 text-center" style="margin-top:60px;">

                        <div class="img img-responsive ">
                            <a style="text-align:center" href="http://buzzingbubs.com/bangalore/school-lunch-box-providers-kids" alt="Buzzing-Bub" target="_blank">

                                <img src="~/Images/buzzing_bubs.png" style="width:200px;height:150px" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="img img-responsive">
                            <br />
                            <a style="text-align:center" href="https://www.google.com/amp/www.thehindu.com/news/national/karnataka/modern-avatars-of-the-humble-dabba-service/article19249139.ece/amp/" target="_blank">
                                <img src="~/Images/the-hindu-logo.png" alt="the_hindu" />
                            </a>

                        </div>
                        <div class="img img-responsive ">
                            <br />
                            <a target="_blank" href=" https://www.google.co.in/amp/m.economictimes.com/small-biz/startups/scoolmeal-a-school-meal-venture-to-provide-nutritious-vegetarian-food/amp_articleshow/51786788.cms">
                                <img src="~/Images/TheEconomicTimes.png" alt="the-economic-times" class="TheEconomicTimes" style="height:auto" />
                            </a><br /><br />
                        </div><br /><br />
                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>
    </div><br />
    <br />
    <div class="row center-block">
        <div class="col-md-12">
            <div class="As-seen-on center-block" style="text-align:center"><i class="fa fa-trophy" style="height:20px;width:20px;color:#ffb81b;margin-right:10px;"></i>Our Achievements<i class="fa fa-trophy" style="height:20px;width:20px;color:#ffb81b;;margin-left:10px;"></i></div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <br />
                <div class="img img-responsive">
                    <img src="~/Images/SIBA.jpg" style="height:150px;width:120px" />
                </div><br />
                <p class="Mr-Kamal-Riyas">  Winner of the Leading Emerging High Impact Startup</p> <p class="Mr-Kamal-Riyas" style="color:black">-SIBA 2017 Abu Dhabi</p>
                <br />
            </div>
            <div class="col-md-4"> </div>
        </div>
    </div>
    <div class="row" style="background-color:#fff">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <br />
                <div class="row center-block">
                    <div class="As-seen-on center-block" style="text-align:center">Safety Check<i class="fa fa-check-circle" style="height:20px;width:20px;color:#47d7ac;margin-left:10px;"></i></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2"></div>

                    <div class="col-md-4">

                        <div class="img ">

                            <a href="http://www.cftri.com" target="_blank">  <img src="~/Images/cftri.png" class="img-responsive" alt="CFTRI" /></a>
                        </div>
                        <br />

                    </div>
                    <div class="col-md-4">

                        <div class="img ">


                            <a href="http://www.fssai.gov.in/home" target="_blank">   <img src="~/Images/isofssai.png" class="img-responsive" alt="ISO-FSSAI" /></a>
                        </div><br /><br />

                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<br /><br /><br />


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-76864797-1', 'auto');
    ga('send', 'pageview');

</script>



